<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/style2.css}">
<script src="https://kit.fontawesome.com/d4739cb5c2.js" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<nav th:replace="~{common/navbar :: navbar}"></nav>
<section class="search-container">
    <form th:action="@{/search/users}" method="get">
        <input
                class="search-input"
                type="text" placeholder="Search people..."
                name="q"
                th:value="${param.q}"
                autocomplete="off"
        >
        <button type="submit">Search</button>
    </form>
    <div id="resultsContainer">
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <div th:if="${noResults}" class="no-results">
            <p th:text="${noResults}"></p>
        </div>
        <div th:if="${users != null}">
            <div th:each="user : ${users}" class="search-result">
                <img th:src="@{/media/{userId}/{img}(userId=${user.id},img=${user.profilePicture})}" class="result-avatar" alt="Profile picture">
                <div class="result-info">
                    <span class="name" th:text="${user.name}">Name</span>
                    <span class="surname" th:text="${user.surname}">Surname</span>
                </div>
                <a th:href="@{/friendship/add/{friendId}(friendId=${user.id})}" class="add-friend-btn">
                    <i class="fa-solid fa-user-plus"></i> Add Friend
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>