<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style2.css}">
    <script src="https://kit.fontawesome.com/d4739cb5c2.js" crossorigin="anonymous"></script>


    <title>Home Page</title>
</head>
<body>
        
        <nav id="navbar" th:fragment="navbar">
            <ul class="navTable">
                <li class="navElement">
                    <a href="homePage.html">
                        <i class="fa-solid fa-house fa-3x"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="navElement">
                    <button class="dropdown">
                        <i class="fa-solid fa-magnifying-glass fa-3x"></i>
                        <span>Search</span> 
                    </button>
                </li>
                <li class="navElement">
                    <a href="">
                        <i class="fa-solid fa-inbox fa-3x"></i>
                        <span>Chat</span>
                    </a>
                </li>
                <li class="navElement">
                    <a href="">
                        <i class="fa-solid fa-bell fa-3x"></i>
                        <span>Notifications</span>
                    </a>
                </li>
                <li class="navElementImg">
<!--                      <a href=""><img  th:src="@{${user.profilePicture}}" class="profileNavImg" alt="">            M.G: commented out because it isn't finished-->
                    <span class="imgSpan">Proifle</span>
                    </a>
                </li>
            </ul>
                  
        </nav>
        <div class="feed">
            <div th:each="post: ${feed}" class="post-card">
                <div class="post-card__header">
                    <img th:src="@{${user.profilePicture}}" class="profile-photo">
                    <span th:text="${user.name}"></span>
                    <span class="date" th:text="${#dates.format(post.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
                </div>
                <div class="post-card__body">
                    <img th:if="${post.imagePath != null}" th:src="@{${post.imagePath}}" class="post-image">
                    <p th:text="${post.text}"></p>
                </div>
                <div class="post-footer">
                    <span th:text="${post.likeNumber}"></span> likes
                </div>
            </div>
        </div>

</body>
</html>